<form method="post">
  {% csrf_token %}

  <label for="student">Student</label><br />
  <select id="student" name="student" required>
    {% for student in students %}
    <option value="{{ student.id }}">
      {{ student.student_name }} (Roll: {{ student.roll_no }})
    </option>
    {% endfor %}
  </select>
  <br /><br />

  <label for="assesment">Assessment</label><br />
  <select id="assesment" name="assesment" required>
    {% for assesment in assesments %}
    <option value="{{ assesment.id }}">
      {{ assesment.assesment_type }}+{{assesment.subject }}
    </option>
    {% endfor %}
  </select>
  <br /><br />

  <label for="marks_obtained">Marks Obtained</label><br />
  <input type="number" id="marks_obtained" name="marks_obtained" required />
  <br /><br />

  <button type="submit">Add Grade</button>
</form>
